<div *ngIf="hero">

  <img src="app/starbucksCTO.jpg" alt="Starbucks CTO" style="width:304px;height:275px;padding:20px">
  <h2>This is the Starbucks CTO!</h2>
    <body>Gerri Martin-Flickinger is the Chief Technology Officer (CTO) of Starbucks. She holds a Bachelor’s degree in Computer Science from Washington State University. Her hobby is to code games in her free time. </body>

<img src="http://president.rpi.edu/sites/default/files/HeadshotsJackson.jpg" alt="Starbucks CTO" style="width:304px;height:350px;padding:20px">
  <h2>This is the President of RPI!</h2>
    <body>Shirley Ann Jackson is an American physicist, and the eighteenth President of Rensselaer Polytechnic Institute. She received her S.B. in Physics, and a Ph.D. in Theoretical Elementary Particle Physics - both from MIT, and is the first African-American woman to receive a doctorate from MIT—in any field. Her hobby includes singing and dancing. </body>
  <button (click)="goBack()">Back</button>
</div>